@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    background-color: #f8f5ef;
}

.bg-navy {
    background-color: #41436A;
}

.nav-brand {
    font-family: 'Courgette';
}

.footer {
    font-family: 'Courgette';
    color: #41436A;
}

a {
    text-decoration: none;
}

.text-navy {
    color: #41436A;
}

.img-circle {
    border-radius: 400px;
}
